@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body,
input,
select,
select option,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

html {
  height: 100%;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  line-height: 1.4;
  color: #000;
}

img {
  border: 0;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
}

select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
}

select option {
  padding-left: 3px;
}

table {
  border-collapse: collapse;
}

a:link,
a:visited {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

img {
  max-width: 100%;
}

a[href^="tel:"] {
  color: #fff;
  text-decoration: none;
}

p {
  color: #000;
}

p + p {
  padding-top: 15px;
}

ul {
  list-style: none;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.flexB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
}

.Fct {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.Fct2 {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  justify-content: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.Main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.Header {
  background: url("../images/bg-fon1.png") center top no-repeat;
}

.Top {
  padding-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.Logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 177px;
  flex: 0 0 177px;
  margin-right: 110px;
}

.Top-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 37px;
}

.Top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.Top-menu ul li + li {
  margin-left: 40px;
}

.Top-menu ul li a {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.Top-menu ul li a,
.Top-menu ul li a:after,
.Top-menu ul li a:before {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.Top-menu ul li a:after {
  content: '.';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #F86FCA;
  height: 1px;
}

.Top-menu ul li a:hover {
  color: #F86FCA;
}

.Top-menu ul li a:hover:after {
  width: 100%;
}

.Top-menu .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 10px;
}

.Top-menu .phone a {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #F86FCA;
  text-decoration: none;
}

.Top-menu .phone a:hover {
  text-decoration: underline;
}

.Head {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 100px;
}

.HeadL {
  width: 38%;
  padding-top: 245px;
}

.HeadL__desc {
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 123px;
}

.HeadR {
  width: 620px;
}

.HeadR__hd {
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}

.HeadR__desc {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
}

.Forma-top {
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.h1main {
  font-weight: 500;
  font-size: 55px;
  line-height: 67px;
  color: #000000;
  margin-bottom: 30px;
}

.Btn1 a {
  background: #F86FCA;
  border-radius: 40px;
  display: inline-block;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.Btn1 a:hover {
  -webkit-box-shadow: inset 0 0 0 3px #D33B7C;
  box-shadow: inset 0 0 0 3px #D33B7C;
  background: #fff;
  border-radius: 40px;
  color: #D33B7C;
}

.hdmain {
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.Doctors {
  padding-bottom: 100px;
}

.Slider-doctor {
  width: 90%;
  margin: 0 auto;
}

.Slider-doctor .slide {
  padding: 70px 20px 0;
}

.Slider-doctor .slide .img {
  text-align: center;
  margin-bottom: 20px;
}

.Slider-doctor .slide .img img {
  display: inline;
  -webkit-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 15px #ccc;
}

.Slider-doctor .slide .name {
  padding: 0 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.Slider-doctor .slide .status {
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.Our-work {
  background: url("../images/bg-fon2.png") center top no-repeat;
  margin-bottom: 150px;
}

.Our-work .hdmain {
  padding-top: 150px;
  margin-bottom: 50px;
}

.Our-work__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -10px 50px;
}

.Our-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 10px;
}

.Our-work__item .img {
  position: relative;
  font-size: 0;
}

.Our-work__item .img + .img {
  margin-top: 11%;
}

.Our-work__item .img img {
  max-width: 100%;
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
}

.Our-work__item .title {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.all-link {
  text-align: center;
}

.all-link a {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #000000;
  padding-right: 30px;
  display: inline-block;
  position: relative;
}

.all-link a:hover {
  text-decoration: none;
}

.all-link a::after {
  content: '';
  display: block;
  background: url("../images/row1.svg") center top no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 5px;
}

.Aparat {
  margin-bottom: 110px;
}

.Aparat__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -10px 55px;
}

.Aparat__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 13px;
}

.Aparat__item .in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -10px;
}

.Aparat__item .in .img {
  margin: 0 10px 20px;
}

.Aparat__item .img {
  margin-bottom: 20px;
}

.Aparat__item .img img {
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  max-width: 100%;
}

.FormaZ {
  background: url("../images/bg-fon3.png") center top no-repeat;
  padding-bottom: 315px;
}

.FormaZ .HD {
  font-weight: 500;
  font-size: 55px;
  line-height: 67px;
  color: #000000;
  padding-top: 274px;
  margin-bottom: 50px;
  text-align: center;
}

.FormaZ .desc {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  max-width: 940px;
  margin: 0 auto 94px;
}

.FormaZ form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.FormaZ form .pole {
  margin: 0 30px;
}

.FormaZ form .pole input {
  width: 283px;
  height: 72px;
  border: 2px solid rgba(186, 186, 186, 0.4);
  border-radius: 40px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #000;
  padding: 0 20px 0 40px;
}

.FormaZ form .pole input::-webkit-input-placeholder {
  color: #b6b6b6;
}

.FormaZ form .pole input::-moz-placeholder {
  color: #b6b6b6;
}

.FormaZ form .pole input:-ms-input-placeholder {
  color: #b6b6b6;
}

.FormaZ form .pole input::-ms-input-placeholder {
  color: #b6b6b6;
}

.FormaZ form .pole input::placeholder {
  color: #b6b6b6;
}

.submit button {
  width: 283px;
  background: #F86FCA;
  border-radius: 40px;
  display: inline-block;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border: none;
  margin: 0 20px;
}

.submit button:hover {
  -webkit-box-shadow: inset 0 0 0 3px #D33B7C;
  box-shadow: inset 0 0 0 3px #D33B7C;
  background: #fff;
  border-radius: 40px;
  color: #D33B7C;
  cursor: pointer;
}

.politica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-top: 10px;
  margin-left: 30px;
}

.politica .text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.politica .text a {
  color: #D33B7C;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  background: #F4B5E6;
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.checkbox::before {
  content: "🗸";
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  opacity: 0;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  transition: .1s ease-in;
}

.checkbox:checked::before {
  opacity: 1;
}

.checkbox:focus {
  outline: none;
}

.Reviews {
  padding-bottom: 150px;
}

.Slider-reviews {
  width: 95%;
  margin: 0 auto;
}

.Slider-reviews .slide {
  position: relative;
}

.Slider-reviews .slide span {
  position: absolute;
  left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 80px;
  width: 100%;
}

.Map {
  position: relative;
}

.Map__info {
  position: absolute;
  top: 40px;
  left: 10%;
  padding: 30px;
  width: 514px;
  background: #fff;
  -webkit-box-shadow: 0 0 9px #999;
  box-shadow: 0 0 9px #999;
}

.Map__info .HD {
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 30px;
}

.Map__info span {
  display: block;
  margin-bottom: 29px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.Footer {
  background: #F0F8FF;
  padding: 25px 0 40px;
}

.Footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Footer__menu {
  width: 400px;
  padding-top: 22px;
}

.Footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.Footer__menu ul li {
  width: 190px;
}

.Footer__menu ul li a {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.Footer__menu ul li a:hover {
  text-decoration: underline;
}

.Footer__contacts {
  width: 290px;
  padding-top: 22px;
}

.Footer__contacts .hd {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 24px;
}

.Footer__contacts .e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-bottom: 10px;
}

.Footer__contacts .e img {
  margin-right: 10px;
}

.Footer__contacts .e span {
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}

.FormaM {
  width: 573px;
  margin: 0px auto;
  position: relative;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 16px #fff;
  box-shadow: 0 0 16px #fff;
}

.FormaM .close {
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: -7px;
  right: 5px;
  font-weight: normal;
  opacity: 0.6;
}

.FormaM .close:hover {
  opacity: 1;
  text-shadow: 0 1px 3px #999;
}

.FormaH {
  margin-bottom: 53px;
}

.FormaH .hd {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  padding-top: 50px;
  margin-bottom: 10px;
}

.FormaH p {
  font-size: 18px;
  font-family: Tahoma;
  text-align: center;
}

form.form1 {
  padding-bottom: 50px;
}

form.form1 .e {
  text-align: center;
  margin-bottom: 20px;
}

form.form1 .e input {
  width: 352px;
  height: 76px;
  border: 2px solid #F86FCA;
  border-radius: 30px;
  padding-left: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

form.form1 .e input::-webkit-input-placeholder {
  color: rgba(109, 109, 109, 0.3);
}

form.form1 .e input::-moz-placeholder {
  color: rgba(109, 109, 109, 0.3);
}

form.form1 .e input:-ms-input-placeholder {
  color: rgba(109, 109, 109, 0.3);
}

form.form1 .e input::-ms-input-placeholder {
  color: rgba(109, 109, 109, 0.3);
}

form.form1 .e input::placeholder {
  color: rgba(109, 109, 109, 0.3);
}

form.form1 .politica {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.submit {
  text-align: center;
}

.submit button {
  width: 352px;
}

.ClinicCase {
  background: url("../images/bg-fon2.png") center top no-repeat;
  padding-bottom: 260px;
}

.ClinicCase .hdmain {
  padding-top: 200px;
  max-width: 620px;
  margin: 0 auto 10px;
}

.ClinicCase__desc {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  margin-bottom: 123px;
}

.ClinicCase__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -20px;
}

.ClinicCase__item {
  width: 30%;
  margin: 0 20px 80px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ClinicCase__item .img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  margin-right: 15px;
}

.ClinicCase__item .img img {
  width: 30px;
}

.ClinicCase__item .text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.Tehnika {
  margin-bottom: 200px;
}

.Tehnika .hdmain {
  max-width: 900px;
  margin: 0 auto 80px;
}

.Tehnika__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Tehnika__item {
  width: 48%;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  margin-bottom: 150px;
}

.Tehnika__item .img {
  font-size: 0;
  position: relative;
}

.Tehnika__item .txt {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.Tehnika__item .txt span {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  border-left: 1px solid #5974D2;
  padding: 10px 0 10px 15px;
}

/*# sourceMappingURL=layout.css.map */

@media only screen and (max-width: 992px) {
  .Our-work__item .title {
    bottom: 10px;
    left: 15px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media all and (max-width: 500px) {
  .FormaM {
    width: 90%;
    margin: 0 auto;
  }

  .FormaM > form > .e > input {
    width: 90%;
  }

  .FormaM > form > button {
    width: 90%;
  }
}